@import '../../sass/variables/colors.scss';
@import '../../sass/variables/positioning.scss';

.results {
    margin-top:50px;
    margin-bottom: -50px;
    overflow: scroll;
    left: calc(#{$left-nav-width} + #{$details-panel-width});
    height: calc(100vh - 50px);
    width: calc(100vw - #{$left-nav-width} - #{$details-panel-width});
    position: fixed;
}