@import '../../sass/mixins/css3-mixins.scss';
@import '../../sass/variables/colors.scss';
@import '../../sass/variables/positioning.scss';

.nav {
    background: $color-white;
    width: $left-nav-width;
    position: absolute;
    z-index: 9;
    left: 0px;
    padding: $left-nav-vertical-padding $left-nav-horizontal-padding;
    height: calc(100% - (2 * #{$left-nav-vertical-padding}));

    @include box-shadow();

    .pcap-icon {
        margin-right:5px;
    }
}