@import '../../sass/mixins/css3-mixins.scss';
@import '../../sass/variables/colors.scss';
@import '../../sass/variables/positioning.scss';

.nav {
    background: $color-midnight-blue;
    width: $left-nav-width;
    position: absolute;
    z-index: 9;
    left: 0px;
    height: calc(100%);

    @include box-shadow();

    .pcap-icon {
        margin-right:5px;
        color: $color-white;
    }
}